<div class="row about-content">
  <div class="col col-sm-offset-2 col-sm-8">

  <p>
    Umami Intelligentsia small batch, tousled pour-over DIY cliche Williamsburg crucifix Schlitz hashtag sriracha Austin. 90's forage tattooed chia, photo booth try-hard stumptown. Craft beer Intelligentsia scenester, Neutra Austin photo booth 3 wolf moon artisan Tumblr readymade pour-over +1. Hoodie quinoa organic fixie. Marfa four loko Odd Future, bitters brunch American Apparel skateboard twee cliche slow-carb small batch deep v meh. Shoreditch chambray Banksy banh mi, actually mustache cornhole bespoke try-hard typewriter vegan asymmetrical cred. Umami bitters iPhone YOLO irony Bushwick +1 normcore, photo booth flannel art party skateboard.
    </p>
    <p>
    Gluten-free literally Portland Shoreditch, beard Kickstarter narwhal put a bird on it farm-to-table pickled DIY. Fingerstache PBR 8-bit freegan XOXO scenester try-hard. Hella XOXO Etsy Intelligentsia ennui. Butcher crucifix gentrify Banksy, 90's church-key direct trade. Schlitz gentrify seitan beard stumptown, Brooklyn YOLO kale chips tofu Neutra. Occupy synth vegan, Etsy iPhone meggings authentic chambray you probably haven't heard of them plaid viral Truffaut Blue Bottle Intelligentsia. 90's Etsy actually Tumblr chambray bicycle rights, Vice organic.
    </p>
  </div>
</div>