<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
  	<div class="banner">
      Cifrachat
  		by: <a href="http://emilypakulski.com" target="_blank">Emily</a> and <a href="http://michaelgarate.com" target="_blank">Michael</a>
  	</div>
  </div>
</div>
