<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="footer-content panel panel-default">
      <div class="panel-body input-group">	  
		<input type="text" class="form-control input-box" id="field">
        
		<div class="panel-heading controls">
		  Code:
		  <input class="input-box" id="password">
		  Message:
		  <input type="button" value="send" id="send">
		</div>
		
      </div>
    </div>
  </div>
</div>