<div class="container">

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="controls">
        Code:
        <input class="input-box" id="password"></br>
        Message:
        <input class="input-box" id="field">
        <input type="button" value="send" id="send">
      </div>
    </div>
  </div>

</div>

  </body>
</html>
