<div class="col-sm-offset-2 col-sm-8">
<div class="panel panel-default">
  <div class="panel-body">
	
	  <div class="controls">
		<input class="input-box" id="field">
        
		  <div class="panel-heading">
			Code:
			<input class="input-box" id="password">
			Message:
			<input type="button" value="send" id="send">
		  </div>
      </div>
	  
  </div>
</div>
</div>

  </body>
</html>