<html>
<head>
	<title>CifraChat</title>
	<link href="/public/css/chat.css" rel="stylesheet">
	<script type="text/javascript" src="/public/js/chat.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="content"></div>
	
	<div class="controls">
		<input class="input-box" id="name"></br>
		<input class="input-box" id="field">
		<input type="button" value="send" id="send">
	</div>

</body>
</html>
