<html>
<head>
  <title>CifraChat</title>
  <link href="/public/css/chat.css" rel="stylesheet">

  <!-- Includes -->
  <script type="text/javascript" src="/public/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/public/js/aes.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!-- CifraChat -->
  <script type="text/javascript" src="/public/js/encryption.js"></script>
  <script type="text/javascript" src="/public/js/chat.js"></script>
  <script type="text/javascript" src="/public/js/random.js"></script>
</head>
<body>
  <div id="content"></div>
  
  <div class="controls">
    Code:
    <input class="input-box" id="password"></br>
    Message:
    <input class="input-box" id="field">
    <input type="button" value="send" id="send">
  </div>

</body>
</html>
