<html>
<head>
	<title>CifraChat</title>
	<link href="/public/css/chat.css" rel="stylesheet">
	<script type="text/javascript" src="/public/js/chat.js"></script>
</head>
<body>
	<div class="controls">
		<input style="width:350px;" class="field">
		<input type="button" value="send" class="send">
	</div>

</body>
</html>