html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.container
{
	margin-top: 4%;
}

.banner
{
	text-align: center;
	width: 350px;
	float: none;
	margin: 0 auto;
}

#content,
#footer-content
{
	width: 100%;
	height: 500px;
	margin: 20px auto;
	overflow: auto;
}

.input-box
{
	width: 100%;
}

.password-input {
  height:30px;
}

p {
  word-wrap: break-word;
}

.msg-input-panel .panel-footer{
  padding: 10px 21px;
}

/* reduce height of decode input to fit in panel */
.message-code {
  height: 30px;
}

.apply-message-code{
  height: 30px;
  padding: 4px 12px;
}

.code-panel-heading {
  padding: 4px;
}

.code-author-label{
  padding: 6px 0 0 12px;
}

/* add margins to panel so that we can have a bootstrap grid inside */
.message-wrapper, .footer-content {
  margin-left: 15px;
  margin-right: 15px;
}

.send-message-form{
  margin:0 -6px 0 0;
}

.message-wrapper .panel-body{
  margin-bottom: -12px;
}