
#content,
#footer-content
{
	width: 100%;
	height: 500px;
	margin: 20px auto;
	overflow: auto;
}

.input-box
{
	width: 100%;
}

p {
  word-wrap: break-word;
}


/* reduce height of decode input to fit in panel */

.message-code{
  height: 30px;
}


.apply-message-code{
  height: 30px;
  padding: 4px 12px;
}

.code-panel-heading {
  padding: 4px;
}

.code-author-label{
  padding: 6px 0 0 12px;
}

/* add margins to panel so that we can have a bootstrap grid inside */
.message-wrapper{
  margin-left: 15px;
  margin-right: 15px;
}