<div class="panel panel-default message-wrapper" data-encmsg="<%= message %>">
  <div class="panel-heading">
    <strong>
      Other
    </strong>
  </div>
  <div class="panel-body">
    <input class="input-box message-code">
    <input type="button" class="apply-message-code" value="apply">
    <br />
    <p class="message">
      <%= message %>
    </p>
  </div>
</div>
<br />
